<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link href="https://fonts.cdnfonts.com/css/public-sans" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.6.1/css/uswds.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.6.1/js/uswds-init.min.js" integrity="sha512-O4/iaC7XNMEYqktWqYtH6Rg++++GZAdUMITJVzu0D1X4ckQyXHJOoC4SC4Ivwsr8YMTjhSnDxem0Ac62IQuG1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.6.1/js/uswds.min.js" integrity="sha512-gT5GVKxABilDNB0ZN35kjkvYy4GdEpeyuRlf4LSfWEF1jw1ajcFR4U298H7Hu3FgO+pRjbGLAbxzAE5lyvQxuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style type="text/css">
      html {
        font-family: "Public Sans";
      }

      single-train {
        display: block;
      }

      train-track {
        display: flex;

        &.horizontal {
          border-radius: 2rem;
          height: 1rem;

          & train-station {
            & station-dot {
              margin-top: -.25rem;
            }
          }

          & station-spacer {
            margin: 0 -0.5rem;
          }
        };

        &.vertical {
          width: 1rem;
          height: 100%;

          & train-station {
            & station-dot {
              margin-left: -.25rem;
            }
          }

          & station-spacer {
            margin: -0.5rem 0;
          }
        }

        & train-station {
          display: block;

          & station-dot {
            border-radius: 2rem;
            display: block;
            height: 1.5rem;
            width: 1.5rem;
            background-color: red;
          }
        }
      }
    </style>
  </head>
  <body>

{{#if index}}
<div class="usa-alert usa-alert--info usa-alert--no-icon">
  <div class="usa-alert__body">
    <h4 class="usa-alert__heading">Download the data</h4>
    <p class="usa-alert__text">
      This website is built automatically from Amtrak data, updated about every
      20 minutes. If you want to download the data yourself, it's available!
      <ul>
        <li><a href="stations.json">All of the stations</a></li>
        <li><a href="trains.json">All of the currently active or scheduled trains</a></li>
        <li><a href="routes.json">All of the routes with a currently active or scheduled train</a></li>
      </ul>
    </p>
  </div>
</div>{{/if}}

    <div class="grid-container">
      <div class="grid-row">
        <main class="grid-col-12">